<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<!-- 　　　　---------買い物かご画面-------　　　　　　　　-->
	<div>買い物かご画面</div>
	<div th:if="!${#lists.isEmpty(session.basketBean)}">
		<table>
			<tr>
				<th>商品名</th>
				<th>数</th>
				<th>操作</th>
				<th>在庫</th>
			</tr>
			<tr th:each="basket:${session.basketBean}">
				<td th:text="${basket.name}"></td>
				<td th:text="${basket.orderNum}"></td>
				<td><form th:action="@{/basket/delete}" method="post">
						<input type="hidden" name="orderId" value="${basket.id}">
						<input type="submit" class="delete" value="削除"></input>
					</form></td>
				<td th:text="${basket.stock}"></td>
			</tr>
		</table>
		
		<form th:action="@{/basket/deleteAll}" method="post">
			<input type="submit" class="delete" value="かごの中身を空にする">
		</form>
	</div>
	<a href="/shared_shop/address/input">ご注文の手続き</a>
	

</body>
</html>