<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<!-- 　　　　---------買い物かご画面-------　　　　　　　　-->
	<div>買い物かご画面</div>	
	<table>
		<tr>
			<th>商品名</th>
			<th>数</th>
			<th>操作</th>
			<th>在庫</th>
		</tr>
	</table>
	
	<form method="post"action="/shared_shop/address/input">
		<input type="hidden" name="backflg" value="false"/>
		<input type="submit" value="ご注文の手続き"/>
	</form>
</body>
</html>