<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/css/menu.css}" rel="stylesheet" />
</head>
<body>
	<ul th:fragment="layout-menu" class="navi_menu">



		<!--/*
	*/-->
		<!-- <li><a href="/shared_shop">トップ</a></li> -->
		<!--/*
	*/-->
		<!-- <li><a href="/shared_shop/item/list/1">新着一覧</a></li> -->
		<!--/*
	*/-->

		<li><a th:href="@{/basket/list}">
		<div class="sample1"> <img
				th:src="@{/img/common/shopping.png}"> <!-- 買い物かご -->
				<div class="mask">
					<div class="caption">買い物かご</div>
				</div>
</div>
		</a></li>
		<!--/*
	*/-->
		<th:block th:if="${session.user != null}">
			<li><a th:href="@{/order/list}">
			<div class="sample1">  <img
					th:src="@{/img/common/money.png}"> <!-- 注文一覧 -->

					<div class="mask">
						<div class="caption">注文一覧</div>
					</div>
</div>
			</a></li>

		</th:block>
		<!--/*
	*/-->
		<th:block th:if="${session.user != null}">
			<li><a href="/shared_shop/favorite/list"> <!-- お気に入り -->
			<div class="sample1"> 
			 <img
					th:src="@{/img/common/heat.png}">


					<div class="mask">
						<div class="caption">お気に入り</div>
					</div>
					</div>
			</a></li>
		</th:block>
	</ul>
</body>
</html>

