@CHARSET "UTF-8";

/* ---- 共通 ---- */

/* スキルアップテクニック1-1
 * html要素に対しmin-heightプロパティを付けることで、
 * 最小でも表示領域が画面の高さを持つことになります。
 * これにより画面の一番下まで表示領域を拡大し、
 * footerを画面下に配置することができます。
 * positionプロパティは絶対位置表示を可能にし、
 * 値relativeを設定することで子要素(今回はfooter要素)の配置基準になります。
 */
html {
	min-height: 100%;
	position: relative;
}

/* スキルアップテクニック1-2
 * 下方向にmarginの余白を設定することでfooterの表示領域を確保します。
 * paddingプロパティの値0は、body要素が持つ枠の領域を取り消します。
 */
body {
	margin: 0 0 30px;
	padding: 0;
}

h2,
h3 {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

/* スキルアップテクニック2
 * displayプロパティでは表示方式を変更することができます。
 * block表示だったform要素をinline表示に変更することで、
 * ボタンを横並びにすることができます。
 */
/* form {
	display: flex;
} */

table {
	width:100%;
	background-color: #fff;
	border-collapse: collapse;
	margin: 0px auto 20px;
}

ul,
li {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}


/* スキルアップテクニック3
 * overflowプロパティの値hiddenを設定することで、要素は適切な高さをもつことができます。
 * 子要素にfloatプロパティを設定している場合、その子要素の高さを親要素は知ることができなくなります。
 * しかしoverflowプロパティの値hiddenを設定することで、本来の高さを取り戻すことができます。
 */
.container {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	float: none;
}
body > .container {
	margin-top: 15px;
}
.content {
	padding: 5px 0 60px;
}


/* ---- タイトル共通 ---- */
.search .title,
.main .title,
.admin_menu_area .title {
	background-color: #3d98bf;
	margin: 0;
	padding: 5px 8px;
	color: #fff;
	text-shadow: 1px 1px 1px #12526d;
}




/* ---- メイン ---- */
.main {
	float: right;
	width: 76%;
	padding-bottom: 80px;
}
.admin_menu .main {
	width: 100%;
	float: none;
}

.user .main .title,
.admin .main .title {
	padding: 8px 15px;
	position: relative;
	font-size: 1.5rem;
	}
.main .title::before,
.admin .main .title::before {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	border: none;
	border-bottom: solid 10px transparent;
	border-right: solid 20px rgb(149, 158, 155);
}
.admin .main .title.no_shadow::before {
	display: none;
}
.admin .main .title {
	background: #ff6c49;
}
.admin_menu .admin_menu_list{
	padding: 5px 10px;
	font-size: 1.5em;
	width: 50%;
	margin: 80px auto 0;
}
.admin_menu_list .title_area {
	background: #ff6c49;
	text-align: center;
	border: 1px solid #ff6c49;
	border-radius: 6px 6px 0 0;
	font-size: 1.2em;
	color: #fff;
	text-shadow: 1px 1px 1px #333;
	padding: 5px 0;
}
.admin_menu_list .title_area_no_shadow {
	background: #ff6c49;
	text-align: center;
	border: 1px solid #ff6c49;
	border-radius: 6px 6px 0 0;
	font-size: 1.2em;
	padding: 5px 0;
}
.admin_menu_list .link_area {
	margin: 0;
}
.admin_menu_list .link_area a{
    display: block;
    padding: 10px;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.18s;
}
.admin_menu_list .link_area a:hover{
	background: #ffc6b9;
}
.admin_menu_list .link_area:last-of-type a{
	border-radius: 0 0 6px 6px;
}

.error_mess_maintenance,
.complete_message,
.check_message {
	padding-top: 20px;
	font-size: 1.2em;
}
.complete_message,
.complete_link {
	font-size: 1.2em;
	margin-top: 30px;
	padding-left: 30px;
}
.complete_link a:hover {
	color: #d34320;
}

/* ---- sideandmenu ---- */
.sideandmenu{
	display: flex;
	flex-direction: column;
}




