<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<title>会員削除確認 | シェアードショップ</title>
<meta charset="UTF-8" />
</head>
<body>

			<form th:action="@{/user/delete/complete}" method="post" class="user_info_form">
				<input type="submit" value="削除" class="send_button delete" />
			</form>
			<form method="get" th:action="@{/user/detail}" class="user_info_form">
				<input type="submit" value="戻る" class="back_button" />
			</form>
</body>
</html>