<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_6block :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8" />
<title>お気に入り｜シェアードショップ</title>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
</head>
<body>

	
		<div class="form_order">
			<select onChange="location.href=value;">
				<option value="">TOP</option>
				<option value="/shared_shop/item/list/1">新着順</option>
				<option value="/shared_shop/item/list/2">売れ筋順</option>
				<option value="/shared_shop/item/list/3">高い順</option>
				<option value="/shared_shop/item/list/4">安い順</option>
			</select>
		</div>

		<div th:if="${#lists.isEmpty(items)}">
			<p th:text="#{itemListAdmin.none}"></p>
		</div>

<!-- <h2 class="title">お気に入り一覧</h2> -->

	<div th:if="${#lists.isEmpty(items)}">
		<p th:text="#{itemListAdmin.none}"></p>
	</div>

		<table class="list_table item_list" th:if="!${#lists.isEmpty(items)}" id="page">
			<tr>
				<th>商品画像</th>
				<th>商品名</th>
			<!-- 	<th>いいねした人</th> -->
				<th>価格</th>
				<th>カテゴリ</th>
				<th>操作</th>
			</tr>
			<tr th:each="item: ${items}" th:if="${session.user.name} == ${item.user.name}">
				<td class="item_image_area_list"><span
					th:if="${item.item.image != null}"> <img
						th:src="@{/img/{image}(image=${item.item.image})}"></img>
				</span> <span th:if="${item.item.image == null}"> <img
						th:src="@{/img/common/no_image.jpg}"></img>
				</span></td>
				<td th:text="${item.name}"></td>
				<!-- <td th:text="${item.user.name}"></td> -->
				<td th:text="${item.item.price}"></td>
				<td th:text="${item.item.category.name}"></td>
				<td><form th:action="@{/favorite/delete}" method="post">
						<input type="hidden" name="id" th:value="${item.id}" />
						<input type="submit" class="delete" value="削除" />
					</form></td>
			</tr>
		</table>

		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
		<div id="page_top">
			<a href="#"></a>
		</div>


</body>