<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
		th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<!--      ---------　届け先入力画面　---------      -->
	<div>届け先入力画面</div>
	
	<form method="get" action="/shared_shop/basket/list">
		<input type="hidden" name="backflg" value="true"/>
		<input type="submit" value="戻る"/>
	</form>
	
	
	<form method="post"action="/shared_shop/payment/input">
		<input type="hidden" name="backflg" value="false"/>
		<input type="submit" value="次へ"/>
	</form>
</body>
</html>