<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
		th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<!--    　 ---------　注文登録確認画面　---------　　　　 -->
	<div>注文確認画面</div>
	
	<div>お届け先</div>
	<div th:text="${session.postalCode}"></div>
	<div th:text="${session.address}"></div>
	<div th:text="${session.name}"></div>
	<div th:text="${session.phoneNumber}"></div>
	
	<div>お支払い方法</div>
	<div th:text="${session.payMethod}"></div>
	
	
	
	<form method="post" action="/shared_shop/payment/input">
		<input type="hidden" name="backflg" value="true"/>
		<input type="submit" value="戻る"/>
	</form>
	
	<form method="post"action="/shared_shop/order/complete">
		<input type="submit" value="ご注文確定画面"/>
	</form>
	
</body>
</html>