<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
		th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<!--      ---------　届け先入力画面　---------      -->
	<div>お届け先入力画面</div>
	
	<form method="post" th:action="@{/address/input}"> 
		郵便番号 <br><input type="number"name="postalCode" th:value="${userDetail.postalCode}"><br>
		住所 <br><input type="text"name="address" th:value="${userDetail.address}"><br>
		氏名 <br><input type="text"name="name" th:value="${userDetail.name}"><br>
		電話番号<br><input type="number"name="phoneNumber" th:value="${userDetail.phoneNumber}"><br>
	</form>
	
	
	<form method="get" action="/shared_shop/basket/list">
		<input type="hidden" name="backflg" value="true"/>
		<input type="submit" value="戻る"/>
	</form>
	
	
	<form method="post"action="/shared_shop/payment/input">
		<input type="hidden" name="backflg" value="false"/>
		<input type="submit" value="次へ"/>
	</form>
</body>
</html>