<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
		th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<!--       ---------　支払方法選択画面　 ---------     -->
	<div>支払い方法選択画面</div>
	
	<form method="post"action="/shared_shop/order/check">	
		<input type="radio" name="selectedRadio" th:text="クレジットカード"><br>
		<input type="radio" name="selectedRadio" th:text="銀行振り込み"><br>
		<input type="radio" name="selectedRadio" th:text="着払い"><br>
		<input type="radio" name="selectedRadio" th:text="電子マネー"><br>
		<input type="radio" name="selectedRadio" th:text="コンビニ決済"><br>
			<input type="hidden" name="backflg" value="false"/>
			<input type="submit" value="次へ"/>
	</form>
	
	<form method="post" action="/shared_shop/address/input">
		<input type="hidden" name="backflg" value="true"/>
		<input type="submit" value="戻る"/>
	</form>
	
	
		
	
</body>
</html>