<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
		th:replace="~{common/layout_6block :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>お支払方法選択｜シェアードショップ</title>
</head>
<body>
	
	<!--       ---------　支払方法選択画面　 ---------     -->
	
	<form method="post"action="/shared_shop/order/check">	
		<input type="radio" name="payMethod" th:text="クレジットカード" value="1"checked><br>
		<input type="radio" name="payMethod" th:text="銀行振り込み"th:value="2"><br>
		<input type="radio" name="payMethod" th:text="着払い"th:value="3"><br>
		<input type="radio" name="payMethod" th:text="電子マネー"th:value="4"><br>
		<input type="radio" name="payMethod" th:text="コンビニ決済"th:value="5"><br>
		<input type="hidden" name="postalCode" th:value="${userDetail.postalCode}" />
		<input type="hidden" name="address" th:value="${userDetail.address}" />
		<input type="hidden" name="phoneNumber" th:value="${userDetail.phoneNumber}" />
		<input type="hidden" name="name" th:value="${userDetail.name}" />
		<input type="hidden" name="backflg" value="false"/>

		<input type="submit" value="次へ"/>
	</form>
	
	<form method="post" action="/shared_shop/address/input">
		<input type="hidden" name="backflg" value="true"/>
		<input type="hidden" name="postalCode" th:value="${userDetail.postalCode}" />
		<input type="hidden" name="address" th:value="${userDetail.address}" />
		<input type="hidden" name="phoneNumber" th:value="${userDetail.phoneNumber}" />
		<input type="hidden" name="name" th:value="${userDetail.name}" />
		<input type="submit" value="戻る"/>
	</form>
</body>
</html>